<div id="<%= dom_id project_feature %>">
  <p>
    <strong>Name:</strong>
    <%= project_feature.name %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= project_feature.duration %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= project_feature.project_id %>
  </p>

</div>
