<div class="new-dashboard">
  <!-- Page Title -->
  <div class="page-title">
    <h1>New Feature</h1>
  </div>

  <!-- Feature Form Content -->
  <div class="feature-folder-content">
    <%= render 'form', project_feature: @project_feature, project: @project, users: @users %>
  </div>
</div>
