<div class="new-dashboard">
  <!-- Page Title -->
  <div class="page-title">
    <h1>New Task</h1>
  </div>

  <!-- Task Form Content -->
  <div class="feature-folder-content">
    <%= render 'form', task: @task, project: @project, all_users: @all_users %>
  </div>
</div>

