<div class="timeline-container">
  <% project.project_features.each do |feature| %>
    <div class="timeline-item">
      <strong><%= feature.name %></strong>
      <span> <%= feature.duration %></span>
    </div>
  <% end %>
</div>
